<br>

<div class="card">

    <div class="card-header">
      <h5> <%= @team_number > 0 ? "#{@team_number} super heros..." : "How many team members do you need?" %>   </h5>
    </div>

      <% if @team_number > 0 %>
        <%= render "home/show_team" %>
      <% else %>
        <%= render "home/create_team" %>
      <% end %>
    <div class="card-footer w-100">

    </div>
</div>


